body,
html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

a {
  color: #e20512;
}

.book-card{
  position: absolute;
  overflow-x: scroll;
}

.navigator{
  z-index: 1000;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  transform: rotate(90deg);
  /* margin-left: -30px; */
  margin-top: 20px;
}


.popular-badge{
  border-radius: 12px;
  padding: 4px 12px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 12px;
  margin-right: 46px;
}

a:hover {
  color: black;
  text-decoration: none;
}

.transparent-bg{
  background: transparent;
}

.hero {
  background-image: url("../images/dashboard.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-top: -20px;
}

/* .overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(189, 163, 163, 0.102);

} */

.hero-book {
  background-image: url('../images/pexels-suzy-hazelwood-1301585.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-top: -20px;
}

#logo {
  height: 30px;
}

#nav a {
  margin: 1% 5%;
}

#nav-link {
  font-size: 14px;
}

#btn-primary {
  background-color: #fa0023;
  border-style: none;
  color: #fff;
}

#nav-menu {
  background-color: red;
  text-align: right;
}

#nav-item {
  /* margin-left: 4%;
  margin-right: 4%; */
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

#nav a {
  color: #000;
}

.hero-header {
  margin-top: 23%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
}

.hero-summary {
  font-weight: 200;
}

#primary-color {
  color: #fa0023;
}

#primary-bg {
  background-color: #fa0023;
  color: #fff;
  padding: 2% 5%;
  font-size: 14px;
}

#profile-icon {
  max-width: 40px;
}

.subjects {
  margin-top: 7%;
}


.book-img{
  height: 24.5rem;
  object-fit: cover;
  widows: 100%;
}

.search-container{
  height: 100%;
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 14px 30px;
  margin-top: 4%;
  /* border-top-left-radius: 12px; */
  border-bottom-left-radius: 12px;
}

input:focus{
  outline: none;
}

@media only screen and 
(max-width: 600px) and 
(max-width: 820px) {
    .search-container {
        width: 100%;
    }
}




@media only screen and (max-width: 1024px) {
    .book-img{
        height: 24.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .book-img{
       height: 16rem;
    }
}

@media only screen and (max-width: 600px) {
    .book-img{
        height: 16rem;
    }
}

.icon{
  height: 2.6rem;
  width: 2.6rem;
}
.subjects img {
  max-width: 100%;
}

.tag {
  background-color: #ccc;
  padding: 2% 6%;
  border-radius: 20px;
  display: inline-block;
}

.trending {
  margin-top: 10%;
  background-image: linear-gradient(#f5f5f5, #fff);
  padding: 7% 5%;
}

.trending .summary-text {
  font-size: 14px;
}

ul.genres > li{
  list-style-type: none;
}


#trending-book {
  max-width: 70%;
  margin-top: -40%;
}

@media only screen and (max-width: 1024px) {
    #trending-book {
        max-width: 70%;
        margin-top: -40%;
    }
}

@media only screen and (max-width: 768px) {
    #trending-book {
        max-width: 25%;
        margin-top: -10%;
    }
}

@media only screen and (max-width: 600px) {
    #trending-book {
        max-width: 70%;
       margin-top: -20%;
    }
}


#trending-heading {
  margin-bottom: 4%;
}

@media only screen and (max-width: 600px) {
    #trending-heading {
       margin-bottom: 8%;
    }
}

#book-master p {
  font-size: 14px;
}

.top-picks {
  margin-top: 4%;
  padding: 1% 5%;
}

.divider {
  border-top: 1px solid #eee;
}

#plan {
  padding: 7% 5%;
  background-image: url("../images/subscribe-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-dropdown{
  position: absolute;
  top: 2.8rem;
  padding-top: 18px;
  padding: 18px 9px 9px;
  left: -12px;
  right: 0;
  width: 132%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  z-index: 100;
}

.nav-dropdown li{
  list-style-type: none;
  margin-bottom: 10px;
}

.nav-dropdown li a{
  text-decoration: none;
  color: rgb(34, 33, 33);
  font-size: small;
  word-wrap: break-word;
}

.nav-dropdown li a:hover{
  text-decoration: underline;
}

.side-bar {
  margin-top: 2%;
}

.side-bar ul {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 0;
}


.side-bar img {
  max-width: 8%;
  margin-bottom: 1%;
  margin-right: 5%;
}

.side-bar ul li {
  margin: 10% 0%;
  line-height: 45px;
  padding: 1% 0% 1% 10%;
  cursor: pointer;
}

.side-bar ul li a {
  text-decoration: none;
  color: #000;
}

.side-bar ul li:hover {
  background-color: #fff0f2;
  border-radius: 40px;
}

.side-bar ul li:focus {
    background-color: #fff0f2;
    border-radius: 40px;
}

.side-bar .active {
  background-color: #fff0f2;
  border-radius: 40px;
}

.link-unstyled {
    text-decoration: none;
    color: rgb(39, 39, 39);
}

.genre-link {
    width: 90%;
    margin-top: 3%;
    letter-spacing: 2px;
    padding: 2.5% 4%;
}

#edit-profile-box form {
  font-family: "Montserrat", sans-serif;
}

.logout-btn {
  border-radius: 20px;
  font-size: 14px;
  width: 50%;
  padding: 2% 0;
}

footer {
  background-color: #eeeeee;
  padding: 7% 5%;
  margin-top: 8%;
}

footer h6 {
  font-family: "Roboto", sans-serif;
}

footer img {
  max-width: 20%;
}

.no-gutter{
  margin-buttom: 0px;
}

footer button {
  letter-spacing: 2px;
}

.book span.genre-text {
  color: rgb(59, 59, 59);
}

.book{
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size: medium;
}

.notations{
  border-right: 1px solid rgb(41, 41, 41);
}


.pass-wrap {
    margin-top: -4%;
    margin-bottom: -8%;
    height: 90%;
}

/* .password-contained .image{
  height: 18rem;
  width: 100%;
} */


@media only screen and (max-width: 1366px) {
    .pass-wrap {
        height: 68%;
        /* width: 90%; */
        /* height: auto; */
    }
}


/* @media only screen and (max-width: 1366px) {
    .pass-wrap {
        height: 40%;
    }
} */
