input:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

#header {
  display: flex;
  flex-direction: column;
}

#logo {
  max-width: 80%;
}

#primary-bg {
  background-color: #fa0023;
  color: #fff;
}

#hero-section {
  position: relative;
  color: #fff;
  margin: 0;
  background-image: url("../images/hero-bg-2.png");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1024px) {
    #hero-section {
        height: 60vh;
    }
}

@media only screen and (max-width: 768px) {
    #hero-section {
        height: 60vh;
    }
}

@media only screen and (max-width: 600px) {
    #hero-section {
        height: 80vh;
    }
}


#hero-header {
  font-family: "Roboto", sans-serif;
  margin-top: 10%;
  line-height: 30px;
}

#search-form {
  width: 65%;
}

#search-form-sm {
    width: 80%;
}


#search-form input[type="text"] {
  border-radius: 0;
  padding: 3% 2%;
  border-style: none;
}



#search-box:focus {
  outline: none;
  border-style: none;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

::-webkit-input-placeholder {
  text-align: center;
  color: #ccc !important;
}

:-moz-placeholder {
  text-align: center;
  color: #ccc !important;
}

::-ms-placeholder {
  text-align: center;
  color: #ccc !important;
}

::placeholder {
  text-align: center;
  color: #ccc !important;
}

#connected {
  background-image: linear-gradient(#f5f5f5, #eeeeee);
}

#connected-row,
#reading-row,
#scrollable-books,
#download-row,
#faq-row {
  padding: 8% 5%;
}

#connected-row h2,
#download-row h2 {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  line-height: 50px;
}

#reading-row h5,
#reading-row h6,
#faq-row h4 {
  font-family: "Roboto", sans-serif;
}

#reading-icon {
  max-width: 25%;
}

#scrollable-books {
  background-color: #f5f5f5;
}

#download-row p {
  font-size: 20px;
}

#faq {
  background-color: #f5f5f5;
}

.card {
  background-color: #f5f5f5;
  padding: 0;
  mask-origin: 0;
  border-style: none;
}

.card-header {
  margin-top: 2%;
  background-color: #fff;
  cursor: pointer;
}

#plus {
  max-width: 1%;
}

#subscribe {
  padding: 7% 5%;
  background-image: url("../images/subscribe-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#subscribe-row {
  color: #fff;
}

#subscribe-row p {
  font-size: 18px;
}

footer {
  background-color: #eeeeee;
  padding: 7% 5%;
}

footer h6 {
  font-family: "Roboto", sans-serif;
}

footer img {
  max-width: 20%;
}

footer button {
  letter-spacing: 2px;
}

/***********
* LOGIN
***********/
#login-content {
  color: #fff;
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../images/login.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.child {
  margin-top: 35%;
  margin-left: 15%;
  margin-right: 15%;
}

.child h2 {
  font-family: "Roboto", sans-serif;
  line-height: 45px;
}

#login-form {
  padding-top: 7%;
}

#register-form {
  padding-top: 1%;
}

.login-btn {
  width: 90%;
  margin-top: 3%;
  letter-spacing: 2px;
  padding: 2.5% 4%;
}

#login-form ::-webkit-input-placeholder,
#register-form ::-webkit-input-placeholder {
  text-align: left;
  color: #ccc !important;
  font-size: 12px;
}

#login-form :-moz-placeholder,
#register-form :-moz-placeholder {
  text-align: left;
  color: #ccc !important;
}

#login-form ::-ms-placeholder,
#register-form ::-ms-placeholder {
  text-align: left;
  color: #ccc !important;
}

#login-form ::placeholder,
#register-form ::placeholder {
  text-align: left;
  color: #ccc !important;
}

#login-form input[type="text"],
#register-form input[type="text"],
#login-form input[type="password"],
#register-form input[type="password"] {
  padding: 5% 4%;
  margin-top: 4%;
}

#remember {
  margin-top: 8%;
  color: #ccc;
}

#signup-text {
  margin-top: 2%;
}

#signup-text a:hover {
  text-decoration: none;
}

#signup-text b {
  color: #fa0023;
}

.link-unstyled {
    text-decoration: none;
    color: rgb(39, 39, 39);
}

.link-unstyled:hover {
    text-decoration: none;
    color: rgb(39, 39, 39);
}